
<div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">{{ todoitem.taskDescription }}</h5>

      <a class="btn" [class.btn-success]="todoitem.dueDate != 'urgent'" [class.btn-danger]="todoitem.dueDate =='urgent'" (click)='setDueDate(todoitem.taskDescription,"urgent")'>urgent</a> 

      &nbsp;

      <a class="btn" [class.btn-success]="todoitem.dueDate != 'days'" [class.btn-danger]="todoitem.dueDate =='days'" (click)='setDueDate(todoitem.taskDescription,"days")'>days</a> 

      &nbsp;

      <a class="btn" [class.btn-success]="todoitem.dueDate != 'week'" [class.btn-danger]='todoitem.dueDate =="week"' (click)='setDueDate(todoitem.taskDescription,"week")'>week</a> 

      &nbsp;

      <a class="btn btn-warning" (click)="DeleteItem(todoitem.taskDescription)">Delete</a>
    
    </div>
  </div>
